@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityUser>
@{
    ViewBag.Title = "Users";
}

<h2>Users List</h2>
<br />

<div class="Get_inTheMiddle text-center">
    <table class="table table-active table-hover">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
                <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td scope="row">@user.UserName</td>
                    <td>
                        @{
                            var userRoles = await ViewBag.UserManager.GetRolesAsync(user);
                            if (userRoles.Count > 0)
                            {
                                foreach (var role in userRoles)
                                {
                                    <span>@role</span>
                                }
                            }
                        }
                    </td>
                    <td><a class="btn btn-outline-danger" asp-action="UserInfo" asp-controller="Account" asp-route-userId="@user.Id">Get My Info</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
