@model IEnumerable<WebAppProject.Models.Animal>

@{
    ViewBag.Title = "Home";

}

<h2>The two most highly rated pets today are:</h2>

<div class="Get_inTheMiddle">
    <table class="styled-table">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Discription</th>
                <th>Comments Number</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var animal in Model)
            {
                <tr>
                    <td><img src="~/Images/Animals/@animal.PictureName"/></td>
                    <td>@animal.Name</td>
                    <td>@animal.Description</td>
                    <td>@(animal.Comments?.Count() ?? 0)</td>
                </tr>
            }
        </tbody>
    </table>
</div>

